.title-section {
    text-align: center;
    text-transform: uppercase;

    h1 {
        font-size: 10rem;
        background-color: #f2f2f2;
        color: red;
        border: 2px solid #333;
        box-shadow: 3px 3px 5px #888888;
    }
}

.card {
    background-color: #f2f2f2;
    border: 2px solid #333;
    box-shadow: 3px 3px 5px #888888;
}